$color: rgba(0, 0, 0, 1);
.Footer {
	display: flex;
	justify-content: center;
	background: $color;
	.wrapper-footer {
		width: 80%;
		max-width: 1440px;
		.wrapper-footer-nav {
			display: flex;
			justify-content: space-between;
			margin: 65px auto;
			.wrapper-nav {
				ul {
					padding: 0;
					.title {
						color: #fff;
						font-size: 24px;
					}
					.link {
						color: #fff;
						margin: 20px 0;
					}
				}
			}
			.wrapper-nav:last-child {
				text-align: right;
			}
		}
		.wrapper-footer-bar {
			.p {
				font-size: 12px;
				color: #b6b6b6;
				margin: 10px 0;
			}
		}
	}
}
@media (max-width: 1112px) {
	.Footer {
		.wrapper-footer {
			.wrapper-footer-nav {
				margin: 40px 0;
				.wrapper-nav {
					ul {
						.title {
							font-size: 16px;
						}
						.link {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 834px) {
	.Footer {
		.wrapper-footer {
			.wrapper-footer-nav {
				.wrapper-nav {
					ul {
						.link {
							margin: 10px 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.Footer {
		.wrapper-footer {
			.wrapper-footer-nav {
				margin: 30px 0;
			}
		}
	}
}
