$max: 100%;
.HowPay {
	.wrapper {
		flex-direction: column;
		.content-wrapper {
			display: flex;
			justify-content: center;
			margin: 50px 0;
			width: $max;
			.flex {
				width: $middle - 10%;
				background: #fff;
				height: 650px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				margin: 0 50px;
				.content-text {
					.text {
						padding: 0;
						li {
							position: relative;
							display: flex;
							align-items: center;
							margin: 50px 0;
							max-width: 390px;
							.arr__down {
								position: absolute;
								top: 5px;
								right: 30px;
								width: 8.5rem;
								height: 6rem;
								background-image: url("../../../assets/images/icons/arrdown.svg");
								background-repeat: no-repeat;
								background-position: 0 -30px;
							}
							.arr__right {
								position: absolute;
								top: 5px;
								left: -90px;
								width: 5rem;
								height: 8rem;
								background-image: url("../../../assets/images/icons/arrright.svg");
								background-repeat: no-repeat;
								background-position: -40px -15px;
							}
							.arr__left {
								position: absolute;
								top: 30px;
								right: 15px;
								width: 4rem;
								height: 6rem;
								background-image: url("../../../assets/images/icons/arrleft.svg");
								background-repeat: no-repeat;
								background-position: 0 10px;
							}
							p {
								margin-left: 20px;
							}
						}
					}
				}
			}
			.flex:nth-child(2) {
				width: $middle - 5%;
				.content-text {
					width: $max - 10%;
					.text {
						li {
							width: $max;
							max-width: $max;
							.arr__right {
								position: absolute;
								top: 30px;
								left: 420px;
								width: 5rem;
								height: 8rem;
								background-image: url("../../../assets/images/icons/arrright.svg");
								background-repeat: no-repeat;
								background-position: -40px -15px;
								transform: rotateY(-180deg);
							}
							.arr__left {
								top: 50px;
								left: -75px;
								width: 5rem;
								height: 8rem;
								background-image: url("../../../assets/images/icons/arrright.svg");
								background-repeat: no-repeat;
								background-position: -40px -15px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1112px) {
	.HowPay {
		.wrapper {
		}
	}
}
@media (max-width: 834px) {
	.HowPay {
		.wrapper {
		}
	}
}
@media (max-width: 414px) {
	.HowPay {
		.wrapper {
		}
	}
}
